package config

type Config struct {
	apiKey string
	cityId string
	units  string
}

func NewConfig() *Config {
	return &Config{"APIKEY", "CITYID", "imperial|metric|standard"}
}

func (c *Config) GetApiKey() string {
	return c.apiKey
}

func (c *Config) GetCityId() string {
	return c.cityId
}

func (c *Config) GetUnits() string {
	return c.units
}
